{% extends 'base.html.twig' %}

{% block title %}Imagen index
{% endblock %}

{% block principal %}
	<h1>Imagen index</h1>

	<form action="{{ path('app_imagen_index_busqueda') }}" method="post">
		<label>Búsqueda:</label>
		<input type="text" name="busqueda" id="busqueda" value="">
		<input type="submit" value="Buscar">
	</form>

	<table class="table">
		<thead>
			<tr>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'id'}) }}">Id</a>
				</th>
				<th>Imagen</th>
				<th>Nombre</th>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'descripcion'}) }}">Descripcion</a>
				</th>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'categoria'}) }}">Categoria</a>
				</th>
				<th>NumVisualizaciones</th>
				<th>NumLikes</th>
				<th>NumDownloads</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for imagen in imagenes %}
				<tr>
					<td>{{ imagen.id }}</td>
					<td><img src="{{ asset(imagen.getUrlSubidas()) }}" alt="Imagen" style="max-width: 50px;"></td>
					<td>{{ imagen.nombre }}</td>
					<td>{{ imagen.descripcion }}</td>
					<td>{{ imagen.categoria }}</td>
					<td>{{ imagen.numVisualizaciones }}</td>
					<td>{{ imagen.numLikes }}</td>
					<td>{{ imagen.numDownloads }}</td>
					<td>
						<button class="btn">
							<a href="{{ path('app_imagen_show', {'id': imagen.id}) }}">Ver</a>
						</button>
						<button class="btn">
							<a href="{{ path('app_imagen_edit', {'id': imagen.id}) }}">Editar</a>
						</button>
						<button class="btn">
							<a href="{{ path('app_imagen_delete_json', {'id': imagen.id}) }}" class="delete">borrar</a>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button class="btn">
		<a href="{{ path('app_imagen_new') }}">Crear Nuevo</a>
	</button>
{% endblock %}
